:root {
  font-family: 'Gilroy-Medium', sans-serif;
}

#app {
  text-align: center;
}

.link {
  font-weight: 400;
  color: #070707;
}

.link:hover {
  color:#828282;
}

.send-message-btn {
  font-family: 'Gilroy-Medium', sans-serif;
  font-weight: 400;
  font-size: medium;
  color: white;
  border-radius: 20rem;
  height: 42px;
  width: 180px;
  background-color: #070707;
  display: block;
  margin-top: 30px;
  margin-bottom: 85px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picture-container {
  width: -webkit-fill-available;
  height: 390px;
  
  &__main-picture {
    object-fit: cover;
    object-position: 0 40%;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.header-content {
  align-items: center;
  justify-items: center;
  justify-self: center;
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 112px;
  
  &__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    &__name {
      width: 125px;
      font-size: 47px;
      font-weight: bold;
    }
    
    &__position {
      width: 150px;
      align-content: center;
      
      &__text {
        display: flex;
        flex-direction: column;
      }
    }
    
    &__language {
      justify-content: space-between;
      align-self: center;
      font-size: 16px;
      font-weight: bold;
      rotate: -90deg;
      position: relative;
      left: 2%;
      
      &_grey {
        color: #828282;
      }
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
  
  &__title {
    padding-top:90px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    padding-bottom: 5%;
  }

  &__list {
    gap: 90px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 90px;
    display: flex;

    &__item {
      text-align: center;
      
      &__title {
        display: flex;
        flex-direction: column;
        color: #828282;
      }
    }
  }
}

.portfolio {
  padding: 90px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  &__element {
    padding: 45px; 


    &__pic {
      margin-bottom: 45px;
      width: 100%;
      }  
    }
}


.contact-page {
  padding: 115px;
  place-items: center;
  text-align: center;

  &__paragraph {
    
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    &_grey {
      color: #828282;
    }
  }
}


.about-me {
  justify-self: center;
  text-align: center;
  width: -webkit-fill-available;
  padding: 112px;
  background-color: #F6F6F6;

  &__paragraph {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
}

.social-media {
  display: flex;
  padding: 0;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 1em;

  &__logo {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 600px)  {
  
  .header-content {
    width: 100%;
    
    &__title {
      width: -webkit-fill-available;
      padding: 29px;
      flex-direction: column;
      
      &__language {
        display: none;
      }
    }
  }
  
  .picture-container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 29px;
    
    &__main-picture {
      object-fit: cover;
    }
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .skills {
    display: flex;
    flex-direction: column;
  }
  
  .portfolio {
    padding: 10px;

    &__element {
      padding: 29px;
        
      &__pic {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
  }

  .about-me {
    padding: 30px;
  }

  .contact-page {
    padding: 29px;
  }

  .social-media {
    display: flex;
    padding: 0;

    &__logo {
      width: 40px;
      height: 40px;
      gap: 50px;
    }
  }

  .send-message-btn {
    width: 100%;        
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
